extends layout

block content
  div.container
    div.card
      div.card-header
        div.backdrop
        div.card-title Pizza Hut
        img.card-header-image(src='https://dynl.mktgcdn.com/p/d9AXTJEWMZ156q11dLLVRHsmufNu0K-ng4JYb_4WwRI/1900x1427.jpg')
      div.card-body
        div.edit
          a(href='#') Edit
        div.card-details
          div.category Italian
          div.rating
            span &#X2b50
            span &#X2b50
        div.description
          | asdf jkl asdfg hjkl asdfg hjkl asdfg hjkl
          | asdf jkl asdfg hjkl asdfg hjkl asdfg hjkl
          | asdf jkl asdfg hjkl asdfg hjkl asdfg hjkl
          | asdf jkl asdfg hjkl asdfg hjkl asdfg hjkl
          | asdf jkl asdfg hjkl asdfg hjkl asdfg hjkl
          | asdf jkl asdfg hjkl asdfg hjkl asdfg hjkl
          | asdf jkl asdfg hjkl asdfg hjkl asdfg hjkl
          | asdf jkl asdfg hjkl asdfg hjkl asdfg hjkl
